include ../heading/heading

.bg-gray-200.py-24
  .container.mx-auto.px-4
    div(class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-6 gap-6")
      each group in site.data.menu.footer
        .flex.flex-col
          +h6(group.name, "gray-700")
          each item in group.links
            +link("/", item.name, "gray-600", "gray-700", "sm")(class="py-1")
