include ../button/button
include ../heading/heading

mixin hero(title, description, bg, titleColor, descriptionColor)
  - bg = bg || 'black'
  - titleColor = titleColor || 'white'
  - descriptionColor = descriptionColor || 'gray-500'
  .hero.p-10.rounded-lg.py-20.shadow-2xl(class="bg-" + bg)
    div(class="lg:w-7/12 xl:w-5/12")
      +h1(title)(class="text-" + titleColor)
      p.text-2xl.font-light(class="text-" + descriptionColor)!= description
      if block
        block
