extends _layouts/base

include _modules/link/link
include _modules/section/section
include _modules/feature/feature
include _modules/heading/heading
include _modules/hero/hero

block content
  .container.mx-auto.px-4
    
    +hero(site.data.global.heroTitle, site.data.global.heroDescription, "blue-500", "white", "blue-100", site.data.global.heroIllustration)
      +button("https://airtable.com/shrnxdC4vhzlslUda", "_blank", "", "white", "blue-500", "blue-200", "xl")(class="mt-10")
        | Get early access
        i.ml-1(data-feather="arrow-right", class= "text-blue-500")
      //- +buttonOutline("https://airtable.com/shrnxdC4vhzlslUda", "_blank", "" ,"white", "blue-200", "xl")(class="mt-10")
      //-   | Get early access
      //-   i.ml-1(data-feather="arrow-right")
    
    +section
      +h2WithDescription(site.data.global.features.title, site.data.global.features.description)(class="mb-8")
      div(class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-6 gap-6")
        each feature in site.data.global.features.list
          +tile(feature)
      each feature in site.data.global.features.list
        +section(feature.path)
          .flex.flex-1.items-center.mb-8
            .p-6.rounded-full.mr-4.border-4(class= "border-" + feature.color + "-500 bg-" + feature.color + "-500" ) 
              img.h-10(src!=feature.illustration)
            +h2WithDescription(feature.title, feature.description)
          div(class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 xl:gap-12")
            each item in feature.list
              +feature(item, feature.color)
    
        
    //- +section
    //-   +h2WithDescription(site.data.global.features.title, site.data.global.features.description)(class="mb-12")
    //-   div(class="grid grid-cols-1 sm:grid-cols-2 gap-12")
    //-     each item in site.data.global.features.list
    //-       +featureDetail(item)
    //- +section
    //-   +h2WithDescription(site.data.global.featuresDetail.title, site.data.global.featuresDetail.description)(class="mb-12")
    //-   div(class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-12")
    //-     each item in site.data.global.featuresDetail.list
    //-       +featureDetail(item)
